{% extends "layouts.html" %}

{% block body %}
    <form action="/" method="POST" id="query" class="center">
        <label for="inputword">Slovo:</label>
        <input type="text" autocomplete="off" id="inputword" name="inputword" required autofocus>
        <button type="submit">Překlad</button>

        <br>
        <label for="1">
            <input type="radio" id="1" name="direction" value="1" 
            checked="checked">
            Čeština → Joranština
        </label>
        <br>
        <label for="0">
            <input type="radio" id="0" name="direction" value="0">
            Joranština → Čeština
        </label>
    </form>
    <br>
    <form action="/about" id="about">
        <button type="submit">O slovníku</button>
    </form>
    <br>
    <h1>{{output}}</h1>
{% endblock %}
