<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Slovník</title>
</head>
<body>
<div align="middle">
    <form action="/answer" method="POST">
        <label for="word">Slovo:</label>
        <input type="text" id="word" name="inputword" required>
        <button type="submit" id="submission">Překlad</button>

        <br>
        <label for="1">
            <input type="radio" id="1" name="direction" value="1" checked="checked">
            Čeština → Joranština
        </label>
        <br>
        <label for="0">
            <input type="radio" id="0" name="direction" value="0" >
            Joranština → Čeština
        </label>
    </form>
    <br>
    <form action="/about">
        <button type="submit">O slovníku</button>
    </form>
</div>
</body>
</html>